* {
  body {
    height: 100%;
    padding: 0rem 10rem;
    margin: 0;
  }
  font-family: sans-serif;
}

header {
  padding: 0rem;
  background-color: white;
  width: 100%;
  height: 100px;
  a {
    font-family: "Courier New", Courier, monospace;
  }
}

.mainBlock {
  border: thick solid #000000;
}
#overview {
  padding: 10px;
  margin: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .nameTitle {
    margin-bottom: 1%;
    h1 {
      text-align: left;
    }
  }
}

#Experience {
  height: 100vh;
  button {
    width: 33%;
    height: 5em;
    font-size: large;
  }
}

.noshow {
  opacity: 0;
}

footer {
  background-color: grey;
  width: 100%;
  height: 100px;
  a {
    font-family: "Courier New", Courier, monospace;
  }
}
